<div class="container container-with-other-padding">
  <section id="contact" class="section-contacts">
    <div class="wrapper-section-contacts">
      <h2 class="title-section-contacts">Let’s get started</h2>

      <p class="text-section-contacts">
        Now that you know a lot about me, let me know if you are interested to
        work with me.
      </p>
    </div>
    <form class="user-form-section-contacts">
      <label id="user-name" class="label-section-contacts">
        Name
        <input
          type="text"
          class="input-section-contacts"
          name="user-name"
          value=""
        />
      </label>
      <label id="user-email" class="label-section-contacts">
        Email
        <input
          type="email"
          class="input-section-contacts"
          name="user-email"
          value=""
        />
      </label>
      <label id="user-comments" class="label-section-contacts">
        Message
        <textarea
          name="user-comments"
          class="user-comments-section-contacts"
        ></textarea>
      </label>
      <button type="submit" class="button-section-contacts">
        Let’s get started
      </button>
    </form>
  </section>
</div>
<footer class="footer">
  <div class="wrappere-footer">
    <div class="inner-wrepper-footer">
      <a href="./index.html">
        <svg class="logo-footer" width="130" height="40">
          <use href="/img/icon.svg#icon-Vector-6"></use>
        </svg>
      </a>
      <ul class="icon-list-footer">
        <li class="item-footer">
          <a href="">
            <svg class="icon-footer" width="24" height="24">
              <use href="/img/icon.svg#icon-Twitter-Logo-1"></use>
            </svg>
          </a>
        </li>
        <li class="item-footer">
          <svg class="icon-footer" width="24" height="24">
            <use href="/img/icon.svg#icon-Dribbble-Logo-1"></use>
          </svg>
        </li>
        <li class="item-footer">
          <svg class="icon-footer" width="24" height="24">
            <use href="/img/icon.svg#icon-LinkedIn-1-1"></use>
          </svg>
        </li>
      </ul>
    </div>
    <ul class="nav-list-footen">
      <li class="nav-itev-footer">
        <a href="#skillset">
          <p class="text-list-footer">Experience</p>
        </a>
      </li>
      <li class="nav-itev-footer">
        <a href="#work">
          <p class="text-list-footer">Work</p>
        </a>
      </li>
      <li class="nav-itev-footer">
        <a href="#photography">
          <p class="text-list-footer">Photography</p>
        </a>
      </li>
      <li class="nav-itev-footer">
        <a href="#contact">
          <p class="text-list-footer">Contact</p>
        </a>
      </li>
    </ul>
  </div>

  <p class="footer-text">
    Not Copyright 2020 • Robin Williams. Webflow cloneable
  </p>
</footer>
