<section class="work-experience">
    <div class="container">
        <div class="work-experience-header">
            <!-- в тебе тут span краще використовувати тут заголовок і винести його з заголовку -->
            <h3 class="work-experience-label">WORK EXPERIENCE</h3>
            <h2 class="work-experience-title">
                Companies I have worked for in the past
            </h2>
        </div>

        <div class="work-experience-list">

            <!-- 01 -->
            <article class="experience-card">
                <span class="experience-card-number">01</span>
                <h3 class="experience-card-title">
                    <span class="experience-cardcompany experience-cardcompany-google">
                        Google
                    </span>,
                    Interaction Designer
                </h3>
                <p class="experience-card-description">
                    I currently am the lead designer on the interaction design team
                    for Google Play.
                </p>
            </article>

            <!-- 02 -->
            <article class="experience-card">
                <span class="experience-card-number">02</span>
                <h3 class="experience-card-title">
                    <span class="experience-cardcompany experience-cardcompany-facebook">
                        Facebook
                    </span>,
                    Product Designer
                </h3>
                <p class="experience-card-description">
                    I've worked on a wide variety of internal tools
                    for Facebook over the past 6 years.
                </p>
            </article>

            <!-- 03 -->
            <article class="experience-card">
                <span class="experience-card-number">03</span>
                <h3 class="experience-card-title">
                    <span class="experience-cardcompany experience-cardcompany-dribbble">
                        Dribbble
                    </span>,
                    Graphic Designer
                </h3>
                <p class="experience-card-description">
                    I started my design career with Dribbble. I was in charge
                    of creating illustrations for the platform.
                </p>
            </article>

        </div>

    </div>
</section>