<section class="feedbacks-section">
  <div class="container feedbacks-container">
    <div class="feedbacks-text-container">
      <h2>This is what people say about me</h2>
      <p>
        Here are a few lines from people who I have worked with over the past 8+
        years in my design career.
      </p>
      <a href="">See all testimonials</a>
    </div>
    <div>
      <ul class="feedbacks-list">
        <li class="feedbacks-list-item">
          <p>
            <span>&#180;</span><span>&#180;</span>Robin is one of the best
            designers I have worked with in my entire life. He is a designer who
            is very capable of taking up complex projects and delivers
            impeccable design.<span>&#180;</span><span>&#180;</span>
          </p>
          <h3>Richard Owens</h3>
          <p>CEO, Company 1</p>
        </li>
        <li class="feedbacks-list-item">
          <p>
            <span>&#180;</span><span>&#180;</span>I think Robin has an
            incredible gift. It has been an absolute pleasure to work with a
            designer of this caliber.<span>&#180;</span><span>&#180;</span>
          </p>
          <h3>Emily Parker</h3>
          <p>CEO, Company 2</p>
        </li>
        <li class="feedbacks-list-item">
          <p>
            <span>&#180;</span><span>&#180;</span>All I can say that, Robin is a
            phenomenal designer. The wavelength at which he thinks is
            astoundaing. I love the focus, passion and attention to detial in
            the design.<span>&#180;</span><span>&#180;</span>
          </p>
          <h3>Vincent Rudd</h3>
          <p>CEO, Company 1</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="container gallery-container">
    <h2>Photography</h2>
    <p>
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <ul>
      <li><button type="button"></button></li>
      <li><button type="button"></button></li>
      <li><button type="button"></button></li>
      <li><button type="button"></button></li>
    </ul>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
