<section class="feedbacks-section">
  <div class="container feedbacks-container">
    <div class="feedbacks-text-container">
      <h2 class="feedbacks-heading">This is what people say about me</h2>
      <p class="feedbacks-descr">
        Here are a few lines from people who I have worked with over the past 8+
        years in my design career.
      </p>
      <a class="feedbacks-link" href="">See all testimonials</a>
    </div>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/first-desktop.webp    1x,
              /img/feedbacs-gallery/feedbacks/first-desktop-2x.webp 2x
            " />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/first-mobile.webp    1x,
              /img/feedbacs-gallery/feedbacks/first-mobile-2x.webp 2x
            " />
          <img
            class="feedbacks-picture"
            alt=""
            src="/img/feedbacs-gallery/feedbacks/first-desktop.webp"
            loading="lazy"
        /></picture>
        <div class="feedbacks-comment-container">
          <p class="feedbacks-comment">
            ‘’Robin is one of the best designers I have worked with in my entire
            life. He is a designer who is very capable of taking up complex
            projects and delivers impeccable design.’’
          </p>
          <h3 class="feedbacks-comment-name">Richard Owens</h3>
          <p class="feedbacks-comment-position">CEO, Company 1</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/second-desktop.webp    1x,
              /img/feedbacs-gallery/feedbacks/second-desktop-2x.webp 2x
            " />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/second-mobile.webp    1x,
              /img/feedbacs-gallery/feedbacks/second-mobile-2x.webp 2x
            " />
          <img
            class="feedbacks-picture"
            alt=""
            src="/img/feedbacs-gallery/feedbacks/second-desktop.webp"
            loading="lazy"
        /></picture>
        <div class="feedbacks-comment-container">
          <p class="feedbacks-comment">
            ‘’I think Robin has an incredible gift. It has been an absolute
            pleasure to work with a designer of this caliber.’’
          </p>
          <h3 class="feedbacks-comment-name">Emily Parker</h3>
          <p class="feedbacks-comment-position">CEO, Company 2</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/third-desktop.webp    1x,
              /img/feedbacs-gallery/feedbacks/third-desktop-2x.webp 2x
            " />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/feedbacs-gallery/feedbacks/third-mobile.webp    1x,
              /img/feedbacs-gallery/feedbacks/third-mobile-2x.webp 2x
            " />
          <img
            class="feedbacks-picture"
            alt=""
            src="/img/feedbacs-gallery/feedbacks/third-desktop.webp"
            loading="lazy"
        /></picture>
        <div class="feedbacks-comment-container">
          <p class="feedbacks-comment">
            ‘’All I can say that, Robin is a phenomenal designer. The wavelength
            at which he thinks is astoundaing. I love the focus, passion and
            attention to detial in the design.’’
          </p>
          <h3 class="feedbacks-comment-name">Vincent Rudd</h3>
          <p class="feedbacks-comment-position">CEO, Company 3</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="gallery-section" id="photography">
  <div class="container gallery-container">
    <h2 class="gallery-heading">Photography</h2>
    <p class="gallery-description">
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <ul class="gallery-list-order" id="gallery-options">
      <li class="gallery-order-item">
        <button
          class="gallery-order-button gallery-button-active"
          type="button"
          data-country="italy"
        >
          italy
        </button>
      </li>
      <li class="gallery-order-item">
        <button
          class="gallery-order-button"
          type="button"
          data-country="australia"
        >
          australia
        </button>
      </li>
      <li class="gallery-order-item">
        <button class="gallery-order-button" type="button" data-country="india">
          india
        </button>
      </li>
      <li class="gallery-order-item">
        <button
          class="gallery-order-button"
          type="button"
          data-country="brazil"
        >
          brazil
        </button>
      </li>
    </ul>
    <ul class="gallery-list-photos">
      <li class="gallery-photos-item">
        <picture
          ><source
            class="gallery-firstpic-desk"
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-first-desktop.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-first-desktop-2x.webp 2x
            " />
          <source
            class="gallery-firstpic-tablet"
            media="(min-width: 768px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-first-tablet.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-first-tablet-2x.webp 2x
            " />
          <source
            class="gallery-firstpic-mobile"
            media="(max-width: 767px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-first-mobile.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-first-mobile-2x.webp 2x
            " />
          <img
            class="gallery-firstpic-main"
            src="/img/feedbacs-gallery/gallery/italy/italy-first-desktop.webp"
            alt="italy alley"
            loading="lazy"
        /></picture>
      </li>
      <li class="gallery-photos-item">
        <picture>
          <source
            class="gallery-secondpic-desk"
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-second-desktop.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-second-desktop-2x.webp 2x
            "
          />
          <source
            class="gallery-secondpic-tablet"
            media="(min-width: 768px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-second-tablet.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-second-tablet-2x.webp 2x
            "
          />
          <source
            class="gallery-secondpic-mobile"
            media="(max-width: 767px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-second-mobile.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-second-mobile-2x.webp 2x
            "
          />
          <img
            class="gallery-secondpic-main"
            alt="venice gondola"
            src="/img/feedbacs-gallery/gallery/italy/italy-second-desktop.webp"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-photos-item">
        <picture>
          <source
            class="gallery-thirdpic-desk"
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-third-desktop.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-third-desktop-2x.webp 2x
            "
          />
          <source
            class="gallery-thirdpic-tablet"
            media="(min-width: 768px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-third-tablet.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-third-tablet-2x.webp 2x
            "
          />
          <source
            class="gallery-thirdpic-mobile"
            media="(max-width: 767px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-third-mobile.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-third-mobile-2x.webp 2x
            "
          />
          <img
            class="gallery-thirdpic-main"
            alt="italy caffee"
            src="/img/feedbacs-gallery/gallery/italy/italy-third-desktop.webp"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-photos-item">
        <picture>
          <source
            class="gallery-fourthpic-desk"
            media="(min-width: 1440px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-fourth-desktop.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-fourth-desktop-2x.webp 2x
            "
          />
          <source
            class="gallery-fourthpic-tablet"
            media="(min-width: 768px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-fourth-tablet.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-fourth-tablet-2x.webp 2x
            "
          />
          <source
            class="gallery-fourthpic-mobile"
            media="(max-width: 767px)"
            srcset="
              /img/feedbacs-gallery/gallery/italy/italy-fourth-mobile.webp    1x,
              /img/feedbacs-gallery/gallery/italy/italy-fourth-mobile-2x.webp 2x
            "
          />
          <img
            class="gallery-fourthpic-main"
            alt="italy mountains"
            src="/img/feedbacs-gallery/gallery/italy/italy-fourth-desktop.webp"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
