<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="../index.html" class="logo-link"><svg width="79" height="24" class="logo-icon"><use href="../img/icon.svg#icon-Vector-6"></use></svg></a>
    </div>
    <nav class="header-navigation">
      <ul class="nav-list">
        <li class="navigaiotn-item"><a class="navigation-link link-one" href="#experience">Experience</a></li>
        <li class="navigaiotn-item"><a class="navigation-link link-two" href="#work">Work</a></li>
        <li class="navigaiotn-item"><a class="navigation-link link-three" href="#photography">Photography</a></li>
        <li class="navigaiotn-item"><a class="navigation-link link-four" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button id="burger-button" class="burger-btn" type="button">
      <div id="burger-menu-icon" class="burger-icon"></div>
    </button>
    <div id="mobile-menu" class="mobile-menu menu-closed">
      <div class="container mobile-menu-container">
        <button class="mobile-menu-close">
          <svg class="mobile-btn-svg" width="8" height="8">
            <use href="./images/icons.svg#icon-closeblack"></use>
          </svg>
        </button>
        <nav class="mobile-menu-nav">
          <ul class="monile-nav-list">
            <li class="mobile-navigaiotn-item"><a class="mobile-navigation-link mobile-link-one" href="#experience">Experience</a></li>
            <li class="mobile-navigaiotn-item"><a class="mobile-navigation-link mobile-link-two" href="#work">Work</a></li>
            <li class="mobile-navigaiotn-item"><a class="mobile-navigation-link mobile-link-three" href="#photography">Photography</a></li>
            <li class="mobile-navigaiotn-item"><a class="mobile-navigation-link mobile-link-four" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>