<header>
    <div class="container header-container">
        <div class="wrapper-header">
        <a href="https://grimi314.github.io/CTRL-ALT-ELITE.TimeProject/" class="header-logo-link">
            <img src="/img/header-hero/Vector.webp" alt="logo">
        </a>
        <button class="button-mobil-open">
    
        <svg class="heder-svg" width="24" height="24">
            <use href="/img/icon.svg#icon-Group-65"></use>
        </svg>
        </button>
        </div>
        <div class="mobil-modal">
        <div class="modal-window">
        <div class="mobil-modal-wrapper">
            <a href="https://grimi314.github.io/CTRL-ALT-ELITE.TimeProject/" class="header-logo-link">
                <img src="/img/header-hero/Vector.webp" alt="logo">
            </a>
            <button class="button-close-modal">x</button>
        </div>
        <ul class="modal-nav-lisn">
            <li class="madal-list-item">
                <a href="" class="nav-list-link">
                    Experience
                </a>
            </li>
            <li class="madal-list-item">
                <a href="" class="nav-list-link">
                    Work
                </a>
            </li>
            <li class="madal-list-item">
                <a href="" class="nav-list-link">
                    Photography
                </a>
            </li>
            <li class="madal-list-item">
                <a href="" class="nav-list-link">
                    Contact
                </a>
            </li>
        </ul>
        </div>
        </div>

        <ul class="header-nav-lisn">
            <li class="header-list-item">
                <a href="#skillset" class="header-list-link">
                    Experience
                </a>
            </li>
            <li class="header-list-item">
                <a href="#work" class="header-list-link">
                    Work
                </a>
            </li>
            <li class="header-list-item">
                <a href="#values" class="header-list-link">
                    Photography
                </a>
            </li>
            <li class="header-list-item">
                <a href="#contact" class="header-list-link">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</header>

<section class="section-hero">
    <div class="container cantainer-section-hero">
      <div class="img-section-hero"></div>
      <div class="wrapper-section-hero">
      <h2 class="title-section-hero">I’m Robin Williams.
      A Product Designer <span class="span-section-hero">based in Italy.</span></h2>
      <p class="text-section-hero">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some
    amazing skills, I’m your guy.</p>
    </div>
    </div>
    <div class="blok"></div>
</section>
