<section id="instagram-dribble" class="instagram-section">
  <div class="instagram-row">
    <div class="instagram__container">
      <div class="instagram-content">
        <h2 class="instagram-title">Instagram</h2>
        <p class="instagram-description">If you area a person who enjoys photography, then I highly recommend that you check out my Instagram. I’m an avid
        traveller and I capture the best moments that I would love to cherish with the world</p>
        <a href="https://www.instagram.com/" target="_blank" class="instagram-link">
          <span class="mob-desktop-text">Follow me on IG</span>
          <span class="tablet-text">More about me</span>
        </a>
      </div>
    </div>

    <div class="instagram-media">
      <picture>
    <!-- desktop -->
    <source srcset="
                ../img/instagram-dribble/wing.jpg 1x, 
                ../img/instagram-dribble/wing-2x.jpg 2x" media="(min-width: 1024px)" type="image/jpeg" 
       class="inst-wing" />
    <!-- tablet -->
    <source srcset="
                  ../img/instagram-dribble/wing-tablet.jpg 1x, 
                  ../img/instagram-dribble/wing-tablet-2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg"
       class="inst-wing" />
  
    <!-- mobile jpeg fallback -->
    <source srcset="
          ../img/instagram-dribble/hand.jpg 1x,
          ../img/instagram-dribble/hand-2x.jpg 2x
        " media="(max-width: 767px)" type="image/jpeg" class="image-hand" />
  
    <!-- general fallback -->
        <img src="/img/instagram-dribble/hand.jpg" alt="Instagram image">
      </picture>
    </div>
  </div>
  </section>

  <section class="dribble-section">
  <div class="dribble__container">
    <h2 class="dribble-title">Dribbble</h2>
    <p class="dribble-description">Each dribbble shot is made with love and care. Do check out my work on Dribbble. Likes and comments are appreciated.</p>
    <a href="https://dribbble.com/" target="_blank" class="dribble-link">Follow me on Dribbble</a>
    <div class="line-web-stack">
      <div class="line-wrapper">
        <picture>
      <!-- desktop -->
      <source srcset="../img/instagram-dribble/line.jpg 1x, ../img/instagram-dribble/line-2x.jpg 2x" type="image/jpeg" media="(min-width:1158px)" class="line-image"/>
      <!-- tablet -->
      <source srcset="../img/instagram-dribble/line-tablet.jpg 1x, ./img/instagram-dribble/line-tablet-2x.jpg 2x" type="image/jpeg" media="(min-width:768px)" class="line-image"/>
      <!-- mobile -->
      <source srcset="../img/instagram-dribble/line-mobile.jpg 1x, ../img/instagram-dribble/line-mobile-2x.jpg 2x" type="image/jpeg" media="(max-width:767px)" class="line-image"/>
      <img src="../img/instagram-dribble/line.jpg" alt="line illustration" class="line-image">
        </picture>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <picture>
    <picture>
      <!-- desktop -->
       <source srcset="../img/instagram-dribble/webpage.jpg 1x, ../img/instagram-dribble/webpage-2x.jpg 2x" type="image/jpeg" media="(min-width:1158px)" class="web-image"/>
      <!-- tablet -->
       <source srcset="../img/instagram-dribble/webpage-tablet.jpg 1x, ../img/instagram-dribble/webpage-tablet-2x.jpg 2x" type="image/jpeg" media="(min-width:768px)" class="web-image"/>
      <!-- mobile -->
       <source srcset="../img/instagram-dribble/webpage-mobile.jpg 1x, ../img/instagram-dribble/webpage-mobile-2x.jpg 2x" type="image/jpeg" media="(max-width:767px)" class="web-image"/>
       <img src="../img/instagram-dribble/webpage.jpg" alt="webpage illustration" class="web-image">
      </picture>
    </div>
  </div>
  </section>


