<section id="instagram-dribble" class="instagram-section">
  <div class="container instagram-container">
    <div class="instagram-row">
      <div class="instagram-content">
        <h2 class="instagram-title">Instagram</h2>
        <p class="instagram-description">
          If you are a person who enjoys photography, then I highly recommend
          that you check out my Instagram. I’m an avid traveller and I capture
          the best moments that I would love to cherish with the world
        </p>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="instagram-link"
        >
          <span class="mob-desktop-text">Follow me on IG</span>
          <span class="tablet-text">More about me</span>
        </a>
      </div>

      <div class="instagram-media">
        <picture>
          <!-- desktop -->
          <source
            srcset="
              ../img/instagram-dribble/wing.webp    1x,
              ../img/instagram-dribble/wing-2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            class="inst-wing"
          />
          <!-- tablet -->
          <source
            srcset="
              ../img/instagram-dribble/wing-tablet.webp    1x,
              ../img/instagram-dribble/wing-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            class="inst-wing"
          />

          <!-- mobile jpeg fallback -->
          <source
            srcset="
              ../img/instagram-dribble/hand.webp    1x,
              ../img/instagram-dribble/hand-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            class="image-hand"
          />

          <!-- general fallback -->
          <img src="../img/instagram-dribble/hand.webp" alt="Instagram image" />
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="dribble-section">
  <div class="container dribble-container">
    <div>
      <h2 class="dribble-title">Dribbble</h2>
      <p class="dribble-description">
        Each dribbble shot is made with love and care. Do check out my work on
        Dribbble. Likes and comments are appreciated.
      </p>
      <a href="https://dribbble.com/" target="_blank" class="dribble-link"
        >Follow me on Dribbble</a
      >
      <div class="line-web-stack">
        <div class="line-wrapper">
          <svg class="dribble-line-icon" width="320" height="36">
            <use
              class="dribble-line-source"
              href="/img/icon.svg#icon-dribbleline-mobile"
            ></use>
          </svg>
          <div class="dribble-cirle-container">
            <svg class="dribble-icon-circle" width="12" height="12">
              <use href="/img/icon.svg#icon-dribble-circle"></use>
            </svg>
            <svg class="dribble-icon-circle" width="12" height="12">
              <use href="/img/icon.svg#icon-dribble-circle"></use>
            </svg>
            <svg class="dribble-icon-circle" width="12" height="12">
              <use href="/img/icon.svg#icon-dribble-circle"></use>
            </svg>
          </div>
        </div>

        <picture>
          <!-- desktop -->
          <source
            srcset="
              ../img/instagram-dribble/webpage.webp    1x,
              ../img/instagram-dribble/webpage-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1440px)"
            class="web-image"
          />
          <!-- tablet -->
          <source
            srcset="
              ../img/instagram-dribble/webpage-tablet.webp    1x,
              ../img/instagram-dribble/webpage-tablet-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
            class="web-image"
          />
          <!-- mobile -->
          <source
            srcset="
              ../img/instagram-dribble/webpage-mobile.webp    1x,
              ../img/instagram-dribble/webpage-mobile-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
            class="web-image"
          />
          <img
            src="../img/instagram-dribble/webpage.jpg"
            alt="webpage illustration"
            class="web-image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
