<section class="skillset" id="skills">
  <div class="container">
    <div class="skillset-beginner">
      <h2 class="skillset-title">Skillset</h2>
      <p class="skillset-text">
        With skills in over 4 different fields of design, I am the perfect
        person to hire when it comes to a full fledged project. Whatever your
        needs are, I can pretty much take on any challenge.
      </p>
    </div>
    <ul class="skillset-list">
      <li class="skillset-item">
        <svg width="26" height="32" class="skillset-icon another-size-icon">
          <use href="../img/icon.svg#icon-boxes"></use>
        </svg>
        <h3 class="skillset-subtitle">Product Design</h3>
        <p class="skillset-description">
          Working at Facebook has taught me a lot about how to understand users,
          solve problems and build great products.
        </p>
      </li>
      <li class="skillset-item">
        <svg width="32" height="32" class="skillset-icon">
          <use href="../img/icon.svg#icon-pen"></use>
        </svg>
        <h3 class="skillset-subtitle">Visual Design</h3>
        <p class="skillset-description">
          My experience at dribbble has helped me learn to develop the eye for
          design. Colors, typography, layout and the whole package.
        </p>
      </li>
      <li class="skillset-item">
        <svg width="32" height="32" class="skillset-stroke-icon">
          <use href="../img/icon.svg#icon-media"></use>
        </svg>
        <h3 class="skillset-subtitle">Motion Design</h3>
        <p class="skillset-description">
          I started my design journey with motion design in my college days.
          Motion is something that really fascinates me because of the
          flexibility of story telling.
        </p>
      </li>
      <li class="skillset-item">
        <svg width="32" height="32" class="skillset-icon">
          <use href="../img/icon.svg#icon-photo"></use>
        </svg>
        <h3 class="skillset-subtitle">Photography</h3>
        <p class="skillset-description">
          Clicking pictures really brings out the creative in me. Phtography
          really makes you look and percieve things in a different way.
        </p>
      </li>
    </ul>
  </div>
</section>
<section class="noname" id="noname">
  <div class="container-zero">
    <ul class="logo-list">
      <li class="logo-item">
        <svg class="logo-icon first-icon" width="85" height="21">
          <use href="../img/icon.svg#icon-cbre"></use>
        </svg>
      </li>
      <li class="logo-item">
        <svg class="logo-icon second-icon" width="71" height="29">
          <use href="../img/icon.svg#icon-epiq"></use>
        </svg>
      </li>
      <li class="logo-item">
        <svg class="logo-icon third-icon" width="28" height="28">
          <use href="../img/icon.svg#icon-f"></use>
        </svg>
      </li>
      <li class="logo-item">
        <svg class="logo-icon fourth-icon" width="21" height="21">
          <use href="../img/icon.svg#icon-tlines"></use>
        </svg>
      </li>
      <li class="logo-item">
        <svg class="logo-icon fifth-icon" width="154" height="25">
          <use href="../img/icon.svg#icon-pfm"></use>
        </svg>
      </li>
      <li class="logo-item">
        <svg class="logo-icon sixth-icon" width="42" height="21">
          <use href="../img/icon.svg#icon-m"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio-left-side">
      <div class="portfolio-beginner">
        <p class="portfolio-text">MY PROJECTS</p>
        <h2 class="portfolio-title">
          Work that I’ve done for the past 8 years
        </h2>
      </div>
      <ul class="portfolio-left-list">
        <li class="portfolio-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/skillset-portfolio/desktop_one.jpg    1x,
                ../img/skillset-portfolio/desktop_one@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/skillset-portfolio/tablet_one.jpg    1x,
                ../img/skillset-portfolio/tablet_one@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 360px)"
              srcset="
                ../img/skillset-portfolio/mobile_one.jpg    1x,
                ../img/skillset-portfolio/mobile_one@2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              srcset="
                ../img/skillset-portfolio/desktop_one.jpg    1x,
                ../img/skillset-portfolio/desktop_one@2x.jpg 2x
              "
              src="../img/skillset-portfolio/desktop_one.jpg"
              alt="Restaurant Website Design"
            />
          </picture>
          <div class="portfolio-wrapper">
            <h3 class="portfolio-subtitle">Restaurant Website Design</h3>
            <p class="portfolio-description">
              I worked with the guys at CBRE to redesign their entire website
              and mobile app fro both Android and iOS. This project lasted for 4
              months and was a very challenging one.
            </p>
          </div>
        </li>
        <li class="portfolio-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/skillset-portfolio/desktop_three.jpg    1x,
                ../img/skillset-portfolio/desktop_three@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/skillset-portfolio/tablet_three.jpg    1x,
                ../img/skillset-portfolio/tablet_three@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 360px)"
              srcset="
                ../img/skillset-portfolio/mobile_three.jpg    1x,
                ../img/skillset-portfolio/mobile_three@2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              srcset="
                ../img/skillset-portfolio/desktop_three.jpg    1x,
                ../img/skillset-portfolio/desktop_three@2x.jpg 2x
              "
              src="../img/skillset-portfolio/desktop_three.jpg"
              alt="Restaurant Website Design"
            />
          </picture>
          <div class="portfolio-wrapper">
            <h3 class="portfolio-subtitle">Restaurant Website Design</h3>
            <p class="portfolio-description">
              I worked with the guys at CBRE to redesign their entire website
              and mobile app fro both Android and iOS. This project lasted for 4
              months and was a very challenging one.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="portfolio-right-side">
      <ul class="portfolio-right-list">
        <li class="portfolio-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/skillset-portfolio/desktop_two.jpg    1x,
                ../img/skillset-portfolio/desktop_two@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/skillset-portfolio/tablet_two.jpg    1x,
                ../img/skillset-portfolio/tablet_two@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 360px)"
              srcset="
                ../img/skillset-portfolio/mobile_two.jpg    1x,
                ../img/skillset-portfolio/mobile_two@2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              srcset="
                ../img/skillset-portfolio/desktop_two.jpg    1x,
                ../img/skillset-portfolio/desktop_two@2x.jpg 2x
              "
              src="../img/skillset-portfolio/desktop_two.jpg"
              alt="Restaurant Website Design"
            />
          </picture>
          <div class="portfolio-wrapper">
            <h3 class="portfolio-subtitle">Restaurant Website Design</h3>
            <p class="portfolio-description">
              I worked with the guys at CBRE to redesign their entire website
              and mobile app fro both Android and iOS. This project lasted for 4
              months and was a very challenging one.
            </p>
          </div>
        </li>
        <li class="portfolio-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/skillset-portfolio/desktop_four.jpg    1x,
                ../img/skillset-portfolio/desktop_four@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/skillset-portfolio/tablet_four.jpg    1x,
                ../img/skillset-portfolio/tablet_four@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 360px)"
              srcset="
                ../img/skillset-portfolio/mobile_four.jpg    1x,
                ../img/skillset-portfolio/mobile_four@2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              srcset="
                ../img/skillset-portfolio/desktop_four.jpg    1x,
                ../img/skillset-portfolio/desktop_four@2x.jpg 2x
              "
              src="../img/skillset-portfolio/desktop_four.jpg"
              alt="Restaurant Website Design"
            />
          </picture>
          <div class="portfolio-wrapper">
            <h3 class="portfolio-subtitle">Restaurant Website Design</h3>
            <p class="portfolio-description">
              I worked with the guys at CBRE to redesign their entire website
              and mobile app fro both Android and iOS. This project lasted for 4
              months and was a very challenging one.
            </p>
          </div>
        </li>
      </ul>
      <a href="" class="portfolio-link">VIeW ALL PROJECTS</a>
    </div>
  </div>
</section>
