/* Styles for Mobile devices */
.container {
  box-sizing: border-box;
 max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
 
    max-width: 768px;
      padding: 0 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
      padding: 0 72px;
  }
}
