/* Styles for Mobile devices */
.container {
  
  min-width: 200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
 
    min-width: 768px;
      padding: 0 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
      padding: 0 72px;
  }
}
