

.container-with-other-padding {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 48px 20px;
}

.title-section-contacts {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 16px;
}


.text-section-contacts {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  
}

.user-form-section-contacts {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  gap: 40px;
   max-width: 320px;
   margin-top: 48px;
}

.label-section-contacts {
  display: flex;
  flex-direction: column;

}

.input-section-contacts {
  background: #181823;
  
  height: 50px;
  outline: none;
  margin-top: 8px;

  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #FFFFFF;
    transition: border 0, 3;
}

.input-section-contacts:active{
 border: 1px solid #5221e6;
  
}

.input-section-contacts::placeholder{  
  font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
 
    color: #FFFFFF;
}

.user-comments-section-contacts {
  height: 100px;
 text-align: start;
  background: #181823;
  border: none;
  margin-top: 8px;
  resize: none;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #FFFFFF;
    transition: border 0,3;
}

.user-comments-section-contacts::placeholder {
  text-align: start;
  
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #FFFFFF;
}

.user-comments-section-contacts:active {
  border: 1px solid #5221e6;

}

.button-section-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding-block: 24px;
  padding-inline: 32px;
  width: 100%;
  height: 75px;
  background: #5221e6;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  transition: opacity 0.3s;
  cursor: pointer;
}

.button-section-contacts:active{
  border: 1px solid #113916;
    opacity: 0.6;
}

@media screen and (min-width: 768px) {

    .container-with-other-padding{
      justify-content: space-between;
      flex-direction: row; 
      column-gap: 24px;
      padding: 80px 40px 80px 40px;
    }

  .title-section-contacts {
     font-size: 55px;
     margin-bottom: 24px ;
    }
  
   .wrapper-section-contacts{
    display: flex;
    flex-direction: column;
    max-width: 332px;
   }
  
  .user-form-section-contacts{
    width: 332px;
  }
  
 
    
}


@media screen and (min-width: 1440px){
.container-with-other-padding{
  padding: 120px 182px 120px 182px ;
   /* max-width: 1440px; */
}


.wrapper-section-contacts{
    max-width: 526px;
}

 .user-form-section-contacts {
   width: 526px;
 }

}
.connainer-footer{
  padding: 48px 20px 48px 20px;
  /* background-color: #181823; */
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: #181823;
}



.logo-footer{
  margin-bottom: 32px;
}

.icon-list-footer{
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.footer-text{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #8491a0;
}

.nav-list-footen{
  display: flex;
  flex-direction:column;
  gap: 16px;
  margin-bottom: 48px;
}

.text-list-footer{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

@media screen and (min-width: 768px){
.connainer-footer{
  padding: 80px 40px 80px 40px;
 }

  .wrappere-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }
  
  .nav-list-footen{
    width: 154px;
    text-align: start;
    margin: 0;
  }

  .footer-text{
    max-width: 329px;
  }
}



@media screen and (min-width: 1440px) {
 .connainer-footer {
    padding: 80px 182px 80px 72px;
  }

  .wrappere-footer {
    margin-bottom: 72px;
  }

  .nav-list-footen {
    width: 196px;
    
  }

  .footer-text {
    max-width: 426px;
  }
}