.feedbacks-section {
  padding: 48px 0;
}

.feedbacks-container {
}

.feedbacks-text-container {
  max-width: 320px;
  margin-bottom: 64px;
}

.feedbacks-heading {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 16px;
}

.feedbacks-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 40px;
}

.feedbacks-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 1px solid #8491a0;
  transition: color 200ms ease, border-color 200ms ease;
}

.feedbacks-link:hover,
.feedbacks-link:focus,
.feedbacks-link:active {
  color: #5221e6;
  border-color: #5221e6;
}

.feedbacks-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 332px;
}

.feedbacks-list-item {
  width: 100%;
  transition: transform 200ms ease;
}
.feedbacks-list-item:hover,
.feedbacks-list-item:focus {
  transform: scale(1.03);
}

.feedbacks-comment-container {
  border: 1px solid #5b6876;
  padding: 32px;
  transition: border-color 200ms ease;
}

.feedbacks-list-item:hover .feedbacks-comment-container,
.feedbacks-list-item:focus .feedbacks-comment-container {
  border-right-color: #5221e6;
  border-left-color: #5221e6;
  border-bottom-color: #5221e6;
}

.feedbacks-comment {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 64px;
}

.feedbacks-comment-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 4px;
}

.feedbacks-comment-position {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
}

.gallery-section {
  padding: 48px 0;
}

.gallery-heading {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 24px;
}

.gallery-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  max-width: 320px;
  margin-bottom: 48px;
}

.gallery-list-order {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 320px;
  margin-bottom: 40px;
}
.gallery-order-item {
  width: calc((100% - 24px) / 2);
}

.gallery-order-button {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #5221e6;

  font-family: 'Sen', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  transition: transform 200ms ease;
}
.gallery-order-button:hover {
  transform: scale(1.3);
}

.gallery-button-active {
  background-color: #5221e6;
}

.gallery-list-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 320px;
}

@media only screen and (min-width: 768px) {
  .feedbacks-section {
    padding: 80px 0;
  }

  .feedbacks-container {
    display: flex;
    justify-content: space-between;
  }

  .feedbacks-text-container {
    max-width: 333px;
    margin: 0;
  }

  .feedbacks-heading {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .gallery-section {
    padding: 80px 0;
  }

  .gallery-heading {
    font-size: 55px;
  }

  .gallery-description {
    max-width: 689px;
    margin-bottom: 64px;
  }

  .gallery-list-order {
    flex-wrap: nowrap;
    max-width: 490px;
    margin: 0;
    margin-bottom: 40px;
  }

  .gallery-order-item {
    width: 100%;
  }

  .gallery-list-photos {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .gallery-photos-item:nth-child(2) {
    order: 3;
  }

  .gallery-photos-item:nth-child(4) {
    order: 3;
  }
}

@media only screen and (min-width: 1440px) {
  .feedbacks-section {
    padding: 120px 0;
  }

  .feedbacks-text-container {
    max-width: 636px;
  }
  .feedbacks-heading {
    max-width: 588px;
  }
  .feedbacks-list {
    max-width: 636px;
    gap: 120px;
  }

  .feedbacks-comment-container {
    padding: 64px;
  }

  .feedbacks-comment {
    max-width: 508px;
  }

  .gallery-section {
    padding: 120px 0;
  }

  .gallery-description {
    max-width: 588px;
  }

  .gallery-list-order {
    max-width: 487px;
  }
}
