
header {
    background-color: #000;

}

.header-container{
    padding:  0 20px;
    
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.header-logo-link{
    padding: 24px 0;
}

.button-mobil-open{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    
    }

.mobil-modal{
   position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
   background-color: #000;
 
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.isVisible{
 opacity: 1;
 pointer-events: auto;
 visibility: visible;
}

.mobil-modal-wrapper {
display: flex;
justify-content: space-between;
margin-bottom: 70px;
}

.modal-window{
display: flex;
flex-direction: column;
max-width: 375px;
padding: 24px 20px;
}



.button-close-modal{
width: 24px;
height: 24px;
border-radius: 50%;
border: 1px solid #fff;
background-color: transparent;
color: #fff;
}

.modal-nav-lisn{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-list-link{
    color: #fff;

}

.header-nav-lisn{
    display: none;

}



@media screen and (min-width: 768px) {
 .header-container {
 padding: 0 40px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 }

.header-logo-link{
padding: 32px 0;
 }
    
.wrapper-header {

}

.button-mobil-open {
display: none;
}

.header-nav-lisn {
display: flex;
}

.header-list-link{
    padding: 32px 24px;
    color: #fff;
}

.header-list-link:hover{
    background-color: #5221e6;
}
}

@media screen and (min-width: 1440px) {
    .header-container {
        padding: 0 72px;
     
    }

 .header-nav-lisn {
   z-index: 2;
}
}


/* =======================SECTION-HERO===================================== */

.cantainer-section-hero{
 padding: 0;
}

.img-section-hero{
    background-color: #000;
    height: 228px;
    max-width: 360px;
    background-image: url( "/img/header-hero/img-section-hero-mobil1x.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 48px;

    @media screen and (min-resolution: 1x) {
            background-image: url("/img/header-hero/img-section-hero-mobil1x.webp");
        }
    
        @media screen and (min-resolution: 2x) {
            background-image: url("/img/header-hero/img-section-hero-mobil2x.webp");
        }
    
}

.wrapper-section-hero{
 padding: 0px  20px 48px 20px;
}

.title-section-hero{
font-weight: 700;
font-size: 32px;
color: #fff;
margin-bottom: 16px;
max-width: 320px;
max-height: 118px;
line-height: 40px;
}

.span-section-hero{
font-weight: 700;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
}

.text-section-hero{
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #fff;
}


@media screen and (min-width: 768px){
    .cantainer-section-hero{
        padding: 80px 40px 84px 0;
        display: flex;
    }

    .img-section-hero{
       
        position: relative;
        height: 650px;
        width: 384px;
        flex-shrink: 0;
        background-image: url("/img/header-hero/img-section-hero-tablet1x.webp");

        @media screen and (min-resolution: 1x) {
                background-image: url("/img/header-hero/img-section-hero-tablet1x.webp");
            }
        
            @media screen and (min-resolution: 2x) {
                background-image: url("/img/header-hero/img-section-hero-tablet2x.webp");
            }
    }

    .wrapper-section-hero{
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%, -50%);
     z-index: 2;
    padding: 0;
    }

    .title-section-hero{
    
    font-size: 56px;
    max-height: 335px;
    max-width:  408px;
    line-height: 70px;
    margin-bottom: 32px;
    }

    .span-section-hero{
    font-size: 55px;
    }

    .text-section-hero{
  
    width: 408px;
    }
    
}  


@media screen and (min-width: 1440px) {
    .cantainer-section-hero {
        padding: 80px 40px 84px 0;
        
    }

    .img-section-hero {
        height: 650px;
        min-width: 750px;
        z-index: 2;
        background-image: url("/img/header-hero/img-section-hero-desktop1x.webp");

        @media screen and (min-resolution: 1x) {
            background-image: url("/img/header-hero/img-section-hero-desktop1x.webp");
        }

        @media screen and (min-resolution: 2x) {
            background-image: url("/img/header-hero/img-section-hero-desktop2x.webp");
        }
    }

    .wrapper-section-hero {
        position: absolute;
        top: 70%;
        left: 72%;
        transform: translate(-50%, -50%);
    }

    .title-section-hero {
        font-size: 78px;
        max-height: 282px;
        max-width: 738px;
        line-height: 70px;

    }

    .span-section-hero {
        font-size: 78px;
    }

    .text-section-hero {

        width: 738px;
    }

    .blok{
        background-color: #181823;
        width: 900px;
        height: 900px;
        position: absolute;
        top: 53%;
        z-index: 0;
        left: 69%;
        transform: translate(-50%, -50%);
    }

}