.header{
  padding: 0px 0px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  padding: 32px 0px;
}

/* Navigation */
.header-navigation{
  display: none;
}
.nav-list{
  display: flex;
  align-items: center;
}
.navigaiotn-item{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 32px 24px;
}
.navigaiotn-item:hover,
.navigaiotn-item:focus{
  cursor: pointer;
  color: #ffffffab;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigaiotn-item:active{
  text-decoration: underline;
}
.navigaiotn-item:last-child{
  background: #5221E6;
  font-weight: 700;
}

/* Burger menu */
.burger-icon{
  position: relative;
  width: 24px;
  height: 24px;
  padding-top: 6px;
  padding-bottom: 7px;
  z-index: 2;
}
.burger-icon::before{
  content: '';
  width: 18px;
  height: 3px;
  background: #C4C4C4;
  position: absolute;
  right: 0;
  top: 6px;
}
.burger-icon::after{
  content: '';
  width: 13px;
  height: 3px;
  background: #C4C4C4;
  position: absolute;
  right: 0;
  top: 13px;
}

/* Mobile menu */
.menu-closed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-opened{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .burger-btn{
    display: none;
  }
  .header-navigation{
    display: block;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
      padding: 0 72px;
  }
}

