/* Instagram & Dribble Section Styles -MOBILE */

.instagram-section {
  background-color: #fbe4ff;
  font-family: 'Sen', sans-serif;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
  display: flex;
  flex-direction: column;
}

.instagram-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.instagram-content {
  padding: 48px 20px;
}
.instagram-container {
  padding: 0;
}
.instagram-title {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #181823;
  margin-bottom: 16px;
  line-height: 100%;
}

.instagram-description {
  color: #5b6876;
  max-width: 320px;
  margin-bottom: 125.75px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.instagram-link {
  position: relative;
  color: #181823;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
}
.mob-desktop-text,
.tablet-text {
  position: relative;
  display: inline-block;
  height: 100%;
}
.mob-desktop-text::after,
.tablet-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;

  width: 128px;
  height: 1px;
  background-color: #8491a0;

  transform: scaleX(1);
  transform-origin: left;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.instagram-link.hovered {
  color: #d331e2;
  font-weight: 700;
}

.instagram-link.hovered .mob-desktop-text::after,
.instagram-link.hovered .tablet-text::after {
  background-color: #d331e2;
  transform: scaleX(1);
}
.tablet-text {
  display: none;
}

.image-hand {
  width: 100%;
  height: auto;
  max-width: 540px;
}

.dribble-section {
  background-color: black;
  padding: 64px 0;
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.dribble-title {
  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
  line-height: 120%;
  vertical-align: middle;
  margin-bottom: 24px;
}

.dribble-description {
  color: #8491a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
  max-width: 320px;
}

.dribble-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 64px;
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
  position: relative;
  display: inline-block;
}

.dribble-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  width: 171px;
  height: 1px;

  background-color: #8491a0;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: left;
}
.dribble-link.hovered::after {
  background-color: #ff57a0;
  transform: scaleX(1);
}

.line-web-stack {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
  /* gap: 0; */
}

.line-wrapper {
  max-height: 36px;
}

.dribble-line-icon {
  fill: #181823;
  stroke: currentColor;
}

.dribble-cirle-container {
  position: absolute;
  top: 12px;
  left: 16px;

  display: flex;
  gap: 6px;
}

.dribble-icon-circle {
  fill: #5b6876;
}

.web-image {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

/* Instagram & Dribble Section Styles -TABLET */

@media (min-width: 768px) {
  .instagram-row {
    display: flex;
    gap: 40px;
  }
  .instagram-container {
    padding-left: 40px;
  }

  .instagram-content {
    padding: 80px 0;
  }

  .instagram-title {
    font-size: 55px;
    margin-bottom: 24px;
    line-height: 120%;
  }
  .instagram-description {
    margin-bottom: 133px;
    max-width: 304px;
  }
  .instagram-link {
    margin: 0;
  }
  .tablet-text::after {
    width: 116px;
    bottom: -4px;
  }
  .mob-desktop-text {
    display: none;
  }
  .tablet-text {
    display: inline-block;
  }
  .dribble-section {
    padding: 80px 0;
  }

  .web-image {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .dribble-description {
    max-width: 688px;
  }
  .dribble-link {
    margin-bottom: 120px;
  }

  .line-web-stack {
    width: 688px;
  }
}
/* Instagram & Dribble Section Styles -DESKTOP */

@media (min-width: 1440px) {
  .instagram-container {
    padding-right: 0;
    padding-left: 72px;
  }
  .instagram-content {
    padding: 120px 0;
  }
  .instagram-row {
    gap: 72px;
  }
  .instagram-description {
    max-width: 576px;
    margin-bottom: 134px;
  }
  .mob-desktop-text {
    display: inline-block;
  }

  .mob-desktop-text::after {
    width: 125px;
  }

  .tablet-text {
    display: none;
  }
  .dribble-container {
    padding: 0 182px;
  }
  .dribble-section {
    padding: 120px 0;
  }
  .dribble-description {
    max-width: 636px;
  }
  .line-web-stack {
    width: 1076px;
  }
}
