h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  background-color: transparent; /* Ensures transparent background */
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Makes it clear it's clickable */
  font: inherit; /* Inherit font from the body or parent element */
  color: inherit; /* Inherit text color */
  -webkit-appearance: none; /* Corrects styling issues in some Webkit/iOS browsers */
  -moz-appearance: none;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
