* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container-zero {
  margin: 0 auto;
  max-width: 360px;
}

/* skillset section */

.skillset {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skillset-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 15px;
}

.skillset-text {
  font-size: 18px;
  color: #8491a0;
  margin-bottom: 69px;
  line-height: 150%;
}

.skillset-subtitle {
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.skillset-description {
  color: #8491a0;
  line-height: 150%;
}
.skillset-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.skillset-icon {
  margin-bottom: 24px;
}

/* noname section */

.logo-list {
  display: flex;
  flex-wrap: wrap;
}

.logo-item {
  flex-basis: 50%;
  min-height: 140px;
  border: 1px solid #181823;
  position: relative;
}

.logo-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* portfolio section */

.portfolio {
  padding-top: 64px;
  padding-bottom: 70px;
}

.portfolio-text {
  font-weight: 700;
  text-transform: uppercase;
  color: #8491a0;
  margin-bottom: 8px;
}

.portfolio-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 80px;
}

.portfolio-wrapper {
  background-color: #181823;
  padding: 40px 32px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-subtitle {
  font-size: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.portfolio-description {
  font-size: 18px;
  color: #8491a0;
}
