/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header-hero.css');
@import url('./experience.css');
@import url('./values.css');
@import url('./skillset-portfolio.css');
@import url('./instagram-dribble.css');
@import url('./feedbacs-gallery.css');
@import url('./contacts-footer.css');
